.categories{
    border-bottom: 2px solid #000 !important;
}

.b-3{
    border-bottom: 3px solid #000 !important;
}

.checkbox:checked {
    background-color: #000;
    border-color: #000;
}

.checkbox{
    border-radius: 0 !important;
    border: 2px solid #000 !important;
    margin-right: 5px;
}

.form-check-input:focus {
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.form-check-label{
    font-size: 16px;
    font-weight: 600;
}

.category-items{
    margin-left: 20px;
}

.brand-items{
    margin-left: 20px;
}

.width100{
    width: 100%;
}

.p1rem{
    padding: 1rem !important;
}

.search{
    color: #000 !important;
    border: 2px solid;
}

.search::placeholder{
    color: #000 !important;
    font-size: bold;
}
