.border-radius{
    border-radius: 15px;
}

.width-auto{
    width: auto;
}

.buy-button{
    width: 100px;
    margin-left: 10px;
}

.quantity{
    width: auto;
}


.fa{
    font-size: 20px;
    cursor: pointer;
}

.quantity-rating{
    height: 40px;
}

.--300px{
    height: 285px;
}

.--height100{
    height: 100%;
}

.rating-buy {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

.mb-4{
    margin-bottom: 1.8rem !important;
}