.navbar-edited{
    background: rgba(26, 26, 37, 1)!important;
    color: #fff!important;
    padding:1.5% 5%;
}

a{
    color: #fff!important;
}

.logout{
    display: flex;
    flex-direction: row;
}

.items{
    display: flex;
    flex-direction: row;
}

.space-between{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active{
    border-bottom: 2px solid #fff;
}

.dropdown{
    width: 200px
}

.dropdown-toggle{
    color: rgba(26, 26, 37, 1);
    background-color: #fff;
}

.dropdown-item{
    color:rgba(26, 26, 37, 1)!important;  
}


.dropdown-menu{
    width: 200px;
    position: absolute;
}

.--width100{
    width: 100%
}

.--widthAuto{
    width: auto
}

.flex{
    display: flex;
}

.nav-item{
    margin-right: 10px;
    font-size: 20px !important;
}

.navbar-brand{
    margin-top: 4px;
}