.navbar-edited{
    background: rgba(26, 26, 37, 1)!important;
    color: #fff!important;
    padding:1.5% 5%;
}

a{
    color: #fff!important;
}

.logout{
    display: flex;
    flex-direction: row;
}

.items{
    display: flex;
    flex-direction: row;
}

.space-between{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active{
    border-bottom: 2px solid #fff;
}

.dropdown{
    width: 200px
}

.dropdown-toggle{
    color: rgba(26, 26, 37, 1);
    background-color: #fff;
    border-radius: 0;
    font-weight: 600 !important;
    font-size: 18px !important;
}

.dropdown-item{
    color:rgba(26, 26, 37, 1)!important;  
    font-weight: 600 !important;
    font-size: 18px !important;
}

.dropdown-item.active, .dropdown-item:active {
    border: none;
    color: #fff !important;
    text-decoration: none;
    background-color: #000 !important;
}

.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #000 !important;
}


.dropdown-menu-own{
    width: 200px;
    position: absolute !important;
    border: 2px solid #000;
    font-weight: 600 !important;
    font-size: 20px !important;
    background-color: #fff;
}

.--width100{
    width: 100%
}

.--widthAuto{
    width: auto
}

.flex{
    display: flex;
}

.nav-item{
    margin-right: 10px;
    font-size: 20px !important;
}

.navbar-brand{
    margin-top: 4px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: rgba(26, 26, 37, 1)!important;
    border-color: rgba(26, 26, 37, 1)!important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.9) !important;
}

.btn-secondary:focus {
    color: #fff;
    background-color: rgba(26, 26, 37, 1)!important;
    border-color: rgba(26, 26, 37, 1)!important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.9) !important;
}