.width100{
    width: 100%;
}

.search{
    color: #000 !important;
    border: 2px solid;
}

.search::placeholder{
    color: #000 !important;
    font-size: bold;
}

.table{
    font-size: 18px !important;
    font-weight: 500 !important;
}